.react-draggable {
  box-sizing: border-box;
}

/* Styles to ensure proper layout of droppables */
.react-droppable {
  box-sizing: border-box;
}

/* Styles to hide the original draggable element while dragging */
.react-draggable--is-dragging {
  opacity: 0;
}

/* Styles to ensure proper positioning of the dragging item */
.react-draggable--is-dragging > * {
  pointer-events: none;
}

/* Styles to show a visual indicator of where a draggable item can be dropped */
.react-droppable--is-dragging-over {
  background-color: #f0f0f0;
}

ul {
  list-style: none;
}
ul:hover {
  cursor: grab;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  max-width: 1580px;
}

body {
  margin: 0 auto;
}

.flex-container {
  display: flex;
  gap: 1rem;
  width: 100%;

  justify-content: center;
}

ul {
  height: 100%;
  min-height: 400px;
  width: 90%;
  padding: 15px 0 0 0;
  border: 4px solid rgb(175, 188, 136);
  border-radius: 0 0 5px 5px;
  margin-top: 0;
}

li {
  margin: 30px;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 24px;
  font-weight: bold;
}

.ul-flex {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  text-align: center;
  color: #77bfa3;
  text-transform: uppercase;
  font-size: 32px;
  margin: 0;
  border: 4px solid rgb(175, 188, 136);
  width: 90%;
  border-radius: 5px 5px 0 0;
  padding: 10px 0;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: #77bfa3;
  font-size: 48px;
}

@media (max-width: 890px) {
  .flex-container {
    flex-direction: column;
  }
}
