.react-draggable {
  box-sizing: border-box;
}

/* Styles to ensure proper layout of droppables */
.react-droppable {
  box-sizing: border-box;
}

/* Styles to hide the original draggable element while dragging */
.react-draggable--is-dragging {
  opacity: 0;
}

/* Styles to ensure proper positioning of the dragging item */
.react-draggable--is-dragging > * {
  pointer-events: none;
}

/* Styles to show a visual indicator of where a draggable item can be dropped */
.react-droppable--is-dragging-over {
  background-color: #f0f0f0;
}

ul {
  list-style: none;
}
ul:hover {
  cursor: grab;
}

html,
body,
#root {
  height: 100%;
  width: 95%;
  max-width: 1580px;
}

body {
  margin: 0 auto;
}

.flex-container {
  display: flex;
  gap: 5rem;
  align-items: center;
  justify-content: center;
  width: 90%;
}

ul {
  height: 100%;
  min-height: 400px;
  width: 100%;
}
